.App {
  text-align: center;
  display: flex;
  padding-top: 80px;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tiktok-icon {
  width: 30px;
}

.tiktok-login-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid #acacac;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
}

.tiktok-login-btn.dark {
  background-color: #000;
  border-radius: 20px;
  text-align: center;
}

.tiktok-login-btn-text {
  display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tiktok-login-btn a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.tiktok-login-btn.dark a {
  color: #fff;
  text-align: center;
}

.separator {
  padding: 20px;
}
